body{
  background-image: url(bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
}
.app {
  background-color: rgb(234, 212, 236);
  min-width: 80vh;
  width: 400px;
  margin: 20px auto;
  }

.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}
ul, li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(54, 25, 107);
  }
  
.container {
  display: flex;
  justify-content: center;
}

.add {
  background: #65aa06;
  margin-top: 5px;
}
.delete {
  background: #d30100;
  margin-bottom: 5px;
}
 
.btn {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
}
input {
  flex: 1;
  width: 70%;
  padding: 10px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

img{
  border-radius: 30%;
}
